<div class='bg-dark'>
    <nav class="navbar navbar-expand-lg navbar-white bg-dark row mx-md-4">
        <div class="col col-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-white text-decoration-none" href="<%= root_path %>">Books on Rails</a>
        </div>
        <div class="col col-6 text-center m-auto">
            <%= form_tag dashboard_path, method: :get do %>
                <div class="form-group">
                    <%= text_field_tag :text, params[:text], class: "form-control", placeholder: "Buscar" %>
                </div>
                <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
            <% end %>
            <!-- <form class="form-group d-flex my-auto">
                 <input class="form-control" type="search" placeholder="¿Qué estás buscando?" aria-label="Search">
                 <button class="btn text-white" type="submit">Search</button>
             </form> -->
        </div>
        <div class="col col-3 text-white d-flex justify-content-end">
            <h6 class='my-auto d-none d-lg-block'><%= current_user.first_name + " " + current_user.last_name if user_signed_in? %></h6>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Usuario</a>
                <div class="dropdown-menu">
                    <% if user_signed_in? %>
                        <h6 class='dropdown-item text-dark d-lg-none'><%= current_user.first_name + " " + current_user.last_name %></h6> 
                        <h6 class='dropdown-item text-dark'><%= link_to 'Mensajes', messages_path %></h6>
                        <h6 class='dropdown-item text-dark'><%= link_to 'Mis Publicaciones', products_path %></h6>
                        <div class="dropdown-divider"></div>
                            <h6 class='dropdown-item text-dark'><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %></h6>
                       </div>
                    <% else %>
                        <h6 class='dropdown-item text-dark'><%= link_to 'Registrarse', new_user_registration_path %></h6>
                        <h6 class='dropdown-item text-dark'><%= link_to 'Iniciar sesión', new_user_session_path %></h6>
                    <% end %>
                </div>
            </div>
        </div>
    </nav>
</div>