<p id="notice"><%= notice %></p>

<h1><%=@course[0][0]%></h1>

<div class="album py-5 bg-light">
  <div class="container">
    <h3>Lectura domiciliaria</h3>
    <div class="row">
      <% @doms.each do |book| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm text-center">
            <%#= image_tag (book.image).to_s %>
            <div class="card-body">
              <h5 class="card-text"><%= book.title%></h5>
              <h5 class="card-text"><%= book.author%></h5>
              <p class="card-text"><%= book.editorial%></p>
              <p class="card-text"><%= book.course%></p>
              <%= link_to 'Ver', book_path(book), class: 'btn btn-warning' %>
              <%= link_to 'Contactar', book_path(book), class: 'btn btn-success' %>
              <%= link_to 'Publicar', new_book_product_path(book), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
        <h3>Textos de Estudio</h3>
    <div class="row">
      <% @texts.each do |book| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm text-center">
            <%#= image_tag (book.image).to_s %>
            <div class="card-body">
              <h5 class="card-text"><%= book.title%></h5>
              <h5 class="card-text"><%= book.author%></h5>
              <p class="card-text"><%= book.editorial%></p>
              <p class="card-text"><%= book.course%></p>
              <%= link_to 'Buscar', book_path(book), class: 'btn btn-warning' %>
              <%= link_to 'Contactar', book_path(book), class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Agregar Libro', new_book_path %>
