<%= form_with(model: [@book, product], local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<h5><%= @book.title %></h5>
<form>
  <div class="field form-group">
    <%= form.label "Editorial" %>
    <%= form.text_field :editorial, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Precio" %>
    <%= form.number_field :price, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label "Condición" %>
    <%= form.select :condition, @condition%>
  </div>

  <div class="form-group">
    <%= form.label "Estado"%>
    <%= form.select :status, @status%>
  </div>

  <div class="form-group">
    <%= form.label "Imagen referencial" %>
    <%= form.file_field :images, multiple: true%>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class:"btn btn-dark text-white btn-block" %>
  </div>

</form>

<% end %>


